version: "3.9"

services:
  users-api:
    build: ./users-api
    container_name: users-api
    environment:
      - PORT=4001
      - SERVICE_NAME=users-api
      - DATABASE_URL=${USERS_DATABASE_URL}
    ports:
      - "4001:4001"
    restart: unless-stopped

  products-api:
    build: ./products-api
    container_name: products-api
    environment:
      - PORT=4002
      - SERVICE_NAME=products-api
      # Compose resuelve por nombre de servicio: http://users-api:4001
      - USERS_API_URL=http://users-api:4001
      - MONGO_URI=${MONGO_URI}
    ports:
      - "4002:4002"
    depends_on:
      - users-api
    restart: unless-stopped

  client:
    build: ./client
    container_name: react-client
    environment:
      # Variables para conectar el cliente React a las APIs internas del compose
      - REACT_APP_USERS_API=http://users-api:4001
      - REACT_APP_PRODUCTS_API=http://products-api:4002
    ports:
      - "3000:80"
    depends_on:
      - users-api
      - products-api
    restart: unless-stopped
